<h1 style="text-align:center;">Pipeline Script</h1>

# Comments to Reviewer

Hello

### Connects to database, retrieves, and then downloads the database table, trending_by_time, to use for Tableau dashboard.

# Link to <a href="https://public.tableau.com/views/DashboardProject_15969044432290/TrendingYoutubeVidz?:language=en&:display_count=y&publish=yes&:origin=viz_share_link">Tableau Dashboard</a>

In [ ]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [1]:
#Defining parameters for connecting to the database
db_config = {'user': 'practicum_student',         # user name
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs', # password
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # connection port
             'db': 'data-analyst-youtube-data'}          # the name of the database

# Creating the database connection string
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'], 
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])
"""
Connect to PostgreSQL DBMS on the server rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net through port 6432. 
Enter the games data-analyst-youtube-data database under the username practicum_student. 
"""

# Connecting to the database.
engine = create_engine(connection_string)

In [5]:
#SQL query to select all data from the tending_by_time database table
query = '''
SELECT * FROM trending_by_time
'''

In [7]:
# Running the query (under the connected databse) and storing the result into a Pandas DataFrame. 
trending_by_time = pd.io.sql.read_sql(query, con = engine)

In [8]:
#quick check -> printing first five rows
trending_by_time.head()

   record_id  region trending_date    category_title  videos_count
0          1  France    2017-11-14  Autos & Vehicles             8
1          2  France    2017-11-15  Autos & Vehicles             2
2          3  France    2017-11-16  Autos & Vehicles             6
3          4  France    2017-11-17  Autos & Vehicles             8
4          5  France    2017-11-18  Autos & Vehicles             4

In [9]:
#saving the dataframe to a csv file
trending_by_time.to_csv("trending_by_time.csv")

# End